@media only screen and (min-width: 320px) {
  :root {
    font-size: 12px;
  }

  #NavSection {
    height: 100vh;
    width: 20vw;
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .navBar {
    position: relative;
    top: 50%;
  }

  .navBar-nav {
    height: 6rem;
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    top: 50%;
  }

  .logo {
    border-bottom: 1px solid var(--focus-primary);
  }

  .active {
    -moz-box-shadow: inset 0 0 10px 5px var(--alternative-text-primary);
    -webkit-box-shadow: inset 0 0 10px 5px var(--alternative-text-primary);
    box-shadow: inset 0 0 10px 5px var(--alternative-text-primary);
    border-bottom: 1px solid var(--focus-primary);
  }

  #ContentPlate {
    background-color: var(--bg-primary);
    display: block;
    height: 100vh;
    width: 80vw;
    position: fixed;
    top: 0%;
    left: 100%;
  }

  #MainBody {
    position: absolute;
    right: 0;
    min-width: 80vw;
  }

  #LogoHome {
    width: 50vw;
  }

  .card {
    display: inline-block;
    width: 100%;
    margin: 5%;
  }

  .nav-item svg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 767px) {
  .logo {
    display: none;
  }

  :root {
    font-size: 16px;
  }

  #NavSection {
    height: 6rem;
    width: 100vw;
  }

  .navBar {
    position: relative;
    top: 0%;
  }

  .navBar-nav {
    flex-flow: row;
  }

  .active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid var(--focus-primary);
  }

  #ContentPlate {
    top: -100%;
    left: 0;
    width: 100vw;
  }

  #MainBody {
    width: 100vw;
  }

  #NavSection svg {
    height: 2rem;
    padding: 2rem;
  }

  .card {
    display: inline-block;
    width: 22%;
    margin: 1%;
  }
}

@media only screen and (min-width: 991px) {
}

@media only screen and (min-width: 1200px) {
}
